
$primary-color: #8CD4AC; //green
$primary-color-light: #D9F4E5; //light-green;
$primary-color-dark: #71CB99; //light-green;


$dark-gray: black;
$dark-purple: #6d71b1;
$middle-gray: #d7e6f1;

$bg-default: $middle-gray;

$typo1: $dark-gray;
$typo2: $dark-purple;

$primary-shadow: 0 0 6px 0 rgba(0,0,0,0.51);

$font: 'Brandon Grotesque', Arial, sans-serif;
