* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

h1, h2, h3, h5, h6 {
  margin: 0 0 8px;
}
h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

p {
  margin: 0 0 8px;
}

a {
  color: $typo1;
}

p, a, button {
  font-size: 14px;
}


input, button {
  outline: none;
}

body {
  font-family: $font;
  margin: 0;
  color: $typo1;
}

html, body, #app {
  height: 100%;
}

#app {
  background: rgb(255,243,121);
  background: linear-gradient(34deg, rgba(255,243,121,1) 0%, rgba(255,220,134,1) 45%, rgba(251,255,189,1) 100%);
  padding: 20px;
}



.basic-box {
  background: #fffbef;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 14px 0 #ffa81d;

}