button {
  border: 0;
  appearance: none;
  background: transparent;
}
.Btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  text-decoration: none;
  transition: background .2s ease-in-out;

  &--Primary {
    background: $primary-color;
    padding: 8px 32px;
    color: white;
    box-shadow: 0 0 15px 1px #a0e2be;
    &:hover {
      background: $primary-color-dark;
    }
  }

  &--Secondary {
    background: white;
    box-shadow: $primary-shadow;
    padding: 8px 32px;
    color: $typo1;
    font-weight: bold;
  }

  &--Round {
    height: 58px;
    width: 58px;
    background: white;
    box-shadow: $primary-shadow;
  }
}
