input {
  padding: 4px 12px;
  border: 0;
  font-family: $font;
}

.Input {
  &--Round {
    box-shadow: $primary-shadow;
    background: white;
    height: 60px;
    border-radius: 60px;
  }
}

input::-webkit-input-placeholder {
  font-family: $font;
}
input:-ms-input-placeholder {
  font-family: $font;
}
input:-moz-placeholder {
  font-family: $font;
}
input::-moz-placeholder {
  font-family: $font;
}