input,  textarea {
  padding: 10px 12px;
  border: 0;
  font-family: $font;
  width: 100%;
}

.Input {
  background: $bg-default;
  color: #6d71b1;
  border-radius: 10px;
  &::placeholder {
    color: #6d71b1;
  }
}


input::-webkit-input-placeholder {
  font-family: $font;
}
input:-ms-input-placeholder {
  font-family: $font;
}
input:-moz-placeholder {
  font-family: $font;
}
input::-moz-placeholder {
  font-family: $font;
}

.Form__Basic {
  display: grid;
  grid-gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}